<div class="container" ng-controller="IndexCtrl">
  <h1 class="text-center">Bookstore</h1>
  <div class="row" ng-repeat="book in data.books">
    <h2>{{book.title}}</h2>
    <p>{{book.description}}</p>
  </div>
</div>
